# Secrets and Environment Variables
.env
.env.*
application-local.yml

# IDE Configs
.idea/
.vscode/
*.swp
*.swo

# Build Folders
**/target/
**/build/
**/bin/
**/obj/
**/dist/
node_modules/

# Logs
*.log
logs/

# Database Data
mysql_data/

# OS Files
.DS_Store
Thumbs.db
